In [23]:
 samp <- sample(1:150, 10)

In [30]:

samp <- sample(1:150, 10)
# 샘플링은 모집단의 특징을 가지고 와야 한다 ( 만약 iris 를 샘플링 한다 하면 3가지 종류를 10개씩 가져와야 맞다)
# iris 는 타겟 데이터가 종류 나머지가 fecher 다 
iris[samp,]

    Sepal.Length Sepal.Width Petal.Length Petal.Width Species
70  5.6          2.5         3.9          1.1         versicolor
97  5.7          2.9         4.2          1.3         versicolor
107 4.9          2.5         4.5          1.7         virginica
77  6.8          2.8         4.8          1.4         versicolor
27  5.0          3.4         1.6          0.4         setosa
41  5.0          3.5         1.3          0.3         setosa
8   5.0          3.4         1.5          0.2         setosa
127 6.2          2.8         4.8          1.8         virginica
53  6.9          3.1         4.9          1.5         versicolor
102 5.8          2.7         5.1          1.9         virginica

In [36]:
iris[seq(0,150,10),]

    Sepal.Length Sepal.Width Petal.Length Petal.Width Species
10  4.9          3.1         1.5          0.1         setosa
20  5.1          3.8         1.5          0.3         setosa
30  4.7          3.2         1.6          0.2         setosa
40  5.1          3.4         1.5          0.2         setosa
50  5.0          3.3         1.4          0.2         setosa
60  5.2          2.7         3.9          1.4         versicolor
70  5.6          2.5         3.9          1.1         versicolor
80  5.7          2.6         3.5          1.0         versicolor
90  5.5          2.5         4.0          1.3         versicolor
100 5.7          2.8         4.1          1.3         versicolor
110 7.2          3.6         6.1          2.5         virginica
120 6.0          2.2         5.0          1.5         virginica
130 7.2          3.0         5.8          1.6         virginica
140 6.9          3.1         5.4          2.1         virginica
150 5.9          3.0         5.1          1.8         virginica

In [50]:
# 데이터 정보 보이기
str(iris)
unique(iris$Species)

'data.frame':	150 obs. of  5 variables:
 $ Sepal.Length: num  5.1 4.9 4.7 4.6 5 5.4 4.6 5 4.4 4.9 ...
 $ Sepal.Width : num  3.5 3 3.2 3.1 3.6 3.9 3.4 3.4 2.9 3.1 ...
 $ Petal.Length: num  1.4 1.4 1.3 1.5 1.4 1.7 1.4 1.5 1.4 1.5 ...
 $ Petal.Width : num  0.2 0.2 0.2 0.2 0.2 0.4 0.3 0.2 0.2 0.1 ...
 $ Species     : Factor w/ 3 levels "setosa","versicolor",..: 1 1 1 1 1 1 1 1 1 1 ...

[1] setosa     versicolor virginica
Levels: setosa versicolor virginica

In [39]:
# Column수 
# 5개의 벡터로 이루어진 데이터 프레임이다
length(iris)
# Data Frame 의 컬럼수
ncol(iris)

# DataFrame의 Row수
nrow(iris)

[1] 5

[1] 5

[1] 150

In [45]:
# iris 의 sepal.Length의 최대값과 최소값의 차이가 평균보다 큰가
   m <- mean(iris$Sepal.Length)
  ( max(iris$Sepal.Length) - min(iris$Sepal.Length) ) < m

[1] TRUE

In [56]:
# 컬럼이름 알아보기
colnames(iris)
# Row 이름 알아보기
rownames(iris)

[1] "Sepal.Length" "Sepal.Width"  "Petal.Length" "Petal.Width"  "Species"

  [1] "1"   "2"   "3"   "4"   "5"   "6"   "7"   "8"   "9"   "10"  "11"  "12"
 [13] "13"  "14"  "15"  "16"  "17"  "18"  "19"  "20"  "21"  "22"  "23"  "24"
 [25] "25"  "26"  "27"  "28"  "29"  "30"  "31"  "32"  "33"  "34"  "35"  "36"
 [37] "37"  "38"  "39"  "40"  "41"  "42"  "43"  "44"  "45"  "46"  "47"  "48"
 [49] "49"  "50"  "51"  "52"  "53"  "54"  "55"  "56"  "57"  "58"  "59"  "60"
 [61] "61"  "62"  "63"  "64"  "65"  "66"  "67"  "68"  "69"  "70"  "71"  "72"
 [73] "73"  "74"  "75"  "76"  "77"  "78"  "79"  "80"  "81"  "82"  "83"  "84"
 [85] "85"  "86"  "87"  "88"  "89"  "90"  "91"  "92"  "93"  "94"  "95"  "96"
 [97] "97"  "98"  "99"  "100" "101" "102" "103" "104" "105" "106" "107" "108"
[109] "109" "110" "111" "112" "113" "114" "115" "116" "117" "118" "119" "120"
[121] "121" "122" "123" "124" "125" "126" "127" "128" "129" "130" "131" "132"
[133] "133" "134" "135" "136" "137" "138" "139" "140" "141" "142" "143" "144"
[145] "145" "146" "147" "148" "149" "150"

[1] "Sepal.Length" "Sepal.Width"  "Petal.Length" "Petal.Width"  "Species"

In [53]:
# iris 에서 1~10 까지의 데이터중 SEpal.Length와 Sepal.Width만 출력하기
iris[1:10,1:2]
# 길이만 보고싶다
iris[1:10,c(1,3)]
iris[1:10,seq(1,3,2)]
iris[1:10,c("Sepal.Length", "Petal.Length")]

   Sepal.Length Sepal.Width
1  5.1          3.5
2  4.9          3.0
3  4.7          3.2
4  4.6          3.1
5  5.0          3.6
6  5.4          3.9
7  4.6          3.4
8  5.0          3.4
9  4.4          2.9
10 4.9          3.1

   Sepal.Length Petal.Length
1  5.1          1.4
2  4.9          1.4
3  4.7          1.3
4  4.6          1.5
5  5.0          1.4
6  5.4          1.7
7  4.6          1.4
8  5.0          1.5
9  4.4          1.4
10 4.9          1.5

   Sepal.Length Petal.Length
1  5.1          1.4
2  4.9          1.4
3  4.7          1.3
4  4.6          1.5
5  5.0          1.4
6  5.4          1.7
7  4.6          1.4
8  5.0          1.5
9  4.4          1.4
10 4.9          1.5

   Sepal.Length Petal.Length
1  5.1          1.4
2  4.9          1.4
3  4.7          1.3
4  4.6          1.5
5  5.0          1.4
6  5.4          1.7
7  4.6          1.4
8  5.0          1.5
9  4.4          1.4
10 4.9          1.5

In [71]:
# iris의 Sepal.Length를 iSL이라는 벡터를 생성하고 이중 1번 2번 데이터를 삭제하고완료하기
       iSL  <- iris$Sepal.Length
       
       iSL <- iSL[-c(1,2)]
       head(iSL)
       length(iSL)

[1] 4.7 4.6 5.0 5.4 4.6 5.0

[1] 148

In [74]:
# 기본 정보
head(iris)
tail(iris)
str(iris)

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1 5.1          3.5         1.4          0.2         setosa
2 4.9          3.0         1.4          0.2         setosa
3 4.7          3.2         1.3          0.2         setosa
4 4.6          3.1         1.5          0.2         setosa
5 5.0          3.6         1.4          0.2         setosa
6 5.4          3.9         1.7          0.4         setosa

    Sepal.Length Sepal.Width Petal.Length Petal.Width Species
145 6.7          3.3         5.7          2.5         virginica
146 6.7          3.0         5.2          2.3         virginica
147 6.3          2.5         5.0          1.9         virginica
148 6.5          3.0         5.2          2.0         virginica
149 6.2          3.4         5.4          2.3         virginica
150 5.9          3.0         5.1          1.8         virginica

'data.frame':	150 obs. of  5 variables:
 $ Sepal.Length: num  5.1 4.9 4.7 4.6 5 5.4 4.6 5 4.4 4.9 ...
 $ Sepal.Width : num  3.5 3 3.2 3.1 3.6 3.9 3.4 3.4 2.9 3.1 ...
 $ Petal.Length: num  1.4 1.4 1.3 1.5 1.4 1.7 1.4 1.5 1.4 1.5 ...
 $ Petal.Width : num  0.2 0.2 0.2 0.2 0.2 0.4 0.3 0.2 0.2 0.1 ...
 $ Species     : Factor w/ 3 levels "setosa","versicolor",..: 1 1 1 1 1 1 1 1 1 1 ...

In [76]:
# 기본 통계량
summary(iris)
# 중앙값과 평균이 비슷할수록 완전한 정규분포
summary(iris$Petal.Length)

  Sepal.Length    Sepal.Width     Petal.Length    Petal.Width
 Min.   :4.300   Min.   :2.000   Min.   :1.000   Min.   :0.100
 1st Qu.:5.100   1st Qu.:2.800   1st Qu.:1.600   1st Qu.:0.300
 Median :5.800   Median :3.000   Median :4.350   Median :1.300
 Mean   :5.843   Mean   :3.057   Mean   :3.758   Mean   :1.199
 3rd Qu.:6.400   3rd Qu.:3.300   3rd Qu.:5.100   3rd Qu.:1.800
 Max.   :7.900   Max.   :4.400   Max.   :6.900   Max.   :2.500
       Species
 setosa    :50
 versicolor:50
 virginica :50

   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.
  1.000   1.600   4.350   3.758   5.100   6.900

In [80]:
# 중앙값과 평균
    #  이 경우 5가 outlire(이상치)
num1 <- c(1,1,1,1,5)
mean(num1)
median(num1)

[1] 1.8

[1] 1

In [82]:
# factor Type인 Species에서 문자와 숫자로 각각 출력하기
as.character(iris$Species)
as.numeric(iris$Species)

  [1] "setosa"     "setosa"     "setosa"     "setosa"     "setosa"
  [6] "setosa"     "setosa"     "setosa"     "setosa"     "setosa"
 [11] "setosa"     "setosa"     "setosa"     "setosa"     "setosa"
 [16] "setosa"     "setosa"     "setosa"     "setosa"     "setosa"
 [21] "setosa"     "setosa"     "setosa"     "setosa"     "setosa"
 [26] "setosa"     "setosa"     "setosa"     "setosa"     "setosa"
 [31] "setosa"     "setosa"     "setosa"     "setosa"     "setosa"
 [36] "setosa"     "setosa"     "setosa"     "setosa"     "setosa"
 [41] "setosa"     "setosa"     "setosa"     "setosa"     "setosa"
 [46] "setosa"     "setosa"     "setosa"     "setosa"     "setosa"
 [51] "versicolor" "versicolor" "versicolor" "versicolor" "versicolor"
 [56] "versicolor" "versicolor" "versicolor" "versicolor" "versicolor"
 [61] "versicolor" "versicolor" "versicolor" "versicolor" "versicolor"
 [66] "versicolor" "versicolor" "versicolor" "versicolor" "versicolor"
 [71] "versicolor" "versicolor" "versicolor" "versicolor" "versicolor"
 [76] "versicolor" "versicolor" "versicolor" "versicolor" "versicolor"
 [81] "versicolor" "versicolor" "versicolor" "versicolor" "versicolor"
 [86] "versicolor" "versicolor" "versicolor" "versicolor" "versicolor"
 [91] "versicolor" "versicolor" "versicolor" "versicolor" "versicolor"
 [96] "versicolor" "versicolor" "versicolor" "versicolor" "versicolor"
[101] "virginica"  "virginica"  "virginica"  "virginica"  "virginica"
[106] "virginica"  "virginica"  "virginica"  "virginica"  "virginica"
[111] "virginica"  "virginica"  "virginica"  "virginica"  "virginica"
[116] "virginica"  "virginica"  "virginica"  "virginica"  "virginica"
[121] "virginica"  "virginica"  "virginica"  "virginica"  "virginica"
[126] "virginica"  "virginica"  "virginica"  "virginica"  "virginica"
[131] "virginica"  "virginica"  "virginica"  "virginica"  "virginica"
[136] "virginica"  "virginica"  "virginica"  "virginica"  "virginica"
[141] "virginica"  "virginica"  "virginica"  "virginica"  "virginica"
[146] "virginica"  "virginica"  "virginica"  "virginica"  "virginica"

  [1] 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 [38] 1 1 1 1 1 1 1 1 1 1 1 1 1 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2
 [75] 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 3 3 3 3 3 3 3 3 3 3 3
[112] 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3
[149] 3 3

In [85]:
# 벡터 계산 
x <- c(3,6,9,12,15)
x + 1
x +c(1,2,3,4,5)
# 벡터의 덧셈, 뺄셈을 할 때에는 길이를 체크해서 되도록이면 길이를 맞추자
x + c(2,3)

[1]  4  7 10 13 16

[1]  4  8 12 16 20

Warning message in x + c(2, 3):
“두 객체의 길이가 서로 배수관계에 있지 않습니다”

[1]  5  9 11 15 17

In [88]:
#벡터 합치기
x <- c(3,5,6,12,15)
y <- c(1,2,3,4,5)
z <- append(x,y)
z1 <- c(x,y)
z
z1

 [1]  3  5  6 12 15  1  2  3  4  5

 [1]  3  5  6 12 15  1  2  3  4  5

In [102]:
# iris의 Sepal.Length의 중복되지 않은 갯수의 percent 구하기
    all  <-  length(iris$Sepal.Length)
    uni <-  length(unique(iris$Sepal.Length))
       all/uni

[1] 4.285714

# 문자열 관련 함수

In [104]:
x <- c('a','b','c','d','e')
x
paste(x[1],x[2])

[1] "a" "b" "c" "d" "e"

[1] "a b"

In [116]:
#iris의 1, 51,  101번의 Species만 한꺼번에 출력하기
paste(iris$Species[1],':',iris$Species[51],':',iris$Species[101])

[1] "setosa : versicolor : virginica"

In [49]:
# 출력
print(paste("a","b"))
cat("a","\nb")

[1] "a b"
a
b

In [141]:
cat(" 국어     ","영어    ","수학\n")
cat(" 90      ","80"            )

 국어      영어     수학

In [149]:
paste("010", "1111", "2222" ,sep="-")

[1] "010-1111-2222"

In [152]:
# 문자열 추출하기
str01 <-"asdfqwesdr"
# 2번째에서 5번째까지
substring(str01, 2, 5)
str02 <- "가나다라마바사"
substring( str02, 2, 5 )

[1] "sdfq"

[1] "나다라마"

# 행렬(matrix)
- 2차원 자료를 저장하는 자료형
- 데이터 형태가 모두 일치 되어야 구성

In [38]:
# 벡터를 이용하여 행렬 만들기
vec1 <- c(1,2,3)
vec2 <- c(4,5,6)
vec3 <- c(7,8,9)

In [39]:
# rbind: row bind
# 데이터를 추가할 때
mat1 <- rbind(vec1, vec2, vec3)
mat1

     [,1] [,2] [,3]
vec1 1    2    3
vec2 4    5    6
vec3 7    8    9

In [47]:
# cbind: column bind 
# 속성을 추가할 때
mat2 <- cbind(vec1, vec2, vec3)
mat2

     vec1 vec2 vec3
[1,] 1    4    7
[2,] 2    5    8
[3,] 3    6    9

In [2]:
#iris의 1~5번 데이터만 추출
irisHead <- head(iris,5)
irisHead
# 추출한 데이터의 row에 1,1,1,1, setosa 추가하기
newiris <- rbind(irisHead,c(1,1,1,1,"setosa"))
newiris
abc <- rep(2,6)
             newiris  <- cbind(newiris,abc)
             newiris


newiris$Sepal.Length <- as.numeric(newiris$Sepal.Length) 
newiris$Sepal.Width <- as.numeric(newiris$Sepal.Width) 
newiris$Petal.Length <- as.numeric(newiris$Petal.Length) 
newiris$Petal.Width <- as.numeric(newiris$Petal.Width)

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1 5.1          3.5         1.4          0.2         setosa
2 4.9          3.0         1.4          0.2         setosa
3 4.7          3.2         1.3          0.2         setosa
4 4.6          3.1         1.5          0.2         setosa
5 5.0          3.6         1.4          0.2         setosa

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1 5.1          3.5         1.4          0.2         setosa
2 4.9          3           1.4          0.2         setosa
3 4.7          3.2         1.3          0.2         setosa
4 4.6          3.1         1.5          0.2         setosa
5 5            3.6         1.4          0.2         setosa
6 1            1           1            1           setosa

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species abc
1 5.1          3.5         1.4          0.2         setosa  2
2 4.9          3           1.4          0.2         setosa  2
3 4.7          3.2         1.3          0.2         setosa  2
4 4.6          3.1         1.5          0.2         setosa  2
5 5            3.6         1.4          0.2         setosa  2
6 1            1           1            1           setosa  2

In [27]:
 irisHead <- head(iris,5)
 length <- irisHead$Sepal.Length + irisHead$Petal.Length
 

  irisHead <-  cbind(irisHead,Length)
  irisHead

Warning message in data.frame(..., check.names = FALSE):
“row names were found from a short variable and have been discarded”

   Sepal.Length Sepal.Width Petal.Length Petal.Width Species Length
1  5.1          3.5         1.4          0.2         setosa  6.5
2  4.9          3.0         1.4          0.2         setosa  6.3
3  4.7          3.2         1.3          0.2         setosa  6.0
4  4.6          3.1         1.5          0.2         setosa  6.1
5  5.0          3.6         1.4          0.2         setosa  6.4
6  5.1          3.5         1.4          0.2         setosa  6.5
7  4.9          3.0         1.4          0.2         setosa  6.3
8  4.7          3.2         1.3          0.2         setosa  6.0
9  4.6          3.1         1.5          0.2         setosa  6.1
10 5.0          3.6         1.4          0.2         setosa  6.4
11 5.1          3.5         1.4          0.2         setosa  6.5
12 4.9          3.0         1.4          0.2         setosa  6.3
13 4.7          3.2         1.3          0.2         setosa  6.0
14 4.6          3.1         1.5          0.2         setosa  6.1
15 5.0          3.6         1.4          0.2         setosa  6.4
16 5.1          3.5         1.4          0.2         setosa  6.5
17 4.9          3.0         1.4          0.2         setosa  6.3
18 4.7          3.2         1.3          0.2         setosa  6.0
19 4.6          3.1         1.5          0.2         setosa  6.1
20 5.0          3.6         1.4          0.2         setosa  6.4
21 5.1          3.5         1.4          0.2         setosa  6.5
22 4.9          3.0         1.4          0.2         setosa  6.3
23 4.7          3.2         1.3          0.2         setosa  6.0
24 4.6          3.1         1.5          0.2         setosa  6.1
25 5.0          3.6         1.4          0.2         setosa  6.4

In [25]:
irisHead <- head(iris,5)
irisHead$Length <- irisHead$Sepal.Length + irisHead$Petal.Length
irisHead

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species Length
1 5.1          3.5         1.4          0.2         setosa  6.5
2 4.9          3.0         1.4          0.2         setosa  6.3
3 4.7          3.2         1.3          0.2         setosa  6.0
4 4.6          3.1         1.5          0.2         setosa  6.1
5 5.0          3.6         1.4          0.2         setosa  6.4

In [32]:
sl <- iris$Sepal.Length
sw <- iris$Sepal.Width

irisM <- cbind(sl,sw)
head(irisM)
class(irisM)
irisD <- as.data.frame(irisM)
class(irisD)

     sl  sw
[1,] 5.1 3.5
[2,] 4.9 3.0
[3,] 4.7 3.2
[4,] 4.6 3.1
[5,] 5.0 3.6
[6,] 5.4 3.9

[1] "matrix"

[1] "data.frame"

In [34]:
str(irisD)
str(irisM)

'data.frame':	150 obs. of  2 variables:
 $ sl: num  5.1 4.9 4.7 4.6 5 5.4 4.6 5 4.4 4.9 ...
 $ sw: num  3.5 3 3.2 3.1 3.6 3.9 3.4 3.4 2.9 3.1 ...
 num [1:150, 1:2] 5.1 4.9 4.7 4.6 5 5.4 4.6 5 4.4 4.9 ...
 - attr(*, "dimnames")=List of 2
  ..$ : NULL
  ..$ : chr [1:2] "sl" "sw"

In [44]:
mat1
colnames(mat1) <- c("a","b","c")
mat1
mat1D <- as.data.frame(mat1)
class(mat1D)

     a b c
vec1 1 2 3
vec2 4 5 6
vec3 7 8 9

     a b c
vec1 1 2 3
vec2 4 5 6
vec3 7 8 9

[1] "data.frame"

In [50]:
mat2
rownames(mat2) <- 1:3
mat2D <- as.data.frame(mat2)
class(mat2D)

  vec1 vec2 vec3
1 1    4    7
2 2    5    8
3 3    6    9

[1] "data.frame"

In [60]:
mat1D
mat2D

# mat2D 오ㅏ mat1D 를 하나의 DataSet 으로 만들기
# Column name 이 틀려서 error 발생 - > colnames로 이름을 맞춘다
colnames(mat2D) <- colnames(mat1D)
mat12D  <- rbind(mat2D,mat1D)
mat12D

     a b c
vec1 1 2 3
vec2 4 5 6
vec3 7 8 9

  a b c
1 1 4 7
2 2 5 8
3 3 6 9

     a b c
1    1 4 7
2    2 5 8
3    3 6 9
vec1 1 2 3
vec2 4 5 6
vec3 7 8 9

# 데이터 프레임
- 다양한 자료형으로 구성된 2차원 형태의 데이터 구조

In [6]:
# 벡터로 데이터 프레임 만들기
no <- 1:4
name <- c("Apple", "Banana", "Peach", "Berry")
price <- c(500,400,300,200)
qty <- c(5,2,5,4)

In [7]:
fruit <- data.frame(번호=no, 상품명=name, 가격=price, 수량=qty)
fruit

  번호 상품명 가격 수량
1 1    Apple  500  5
2 2    Banana 400  2
3 3    Peach  300  5
4 4    Berry  200  4

In [8]:
str(fruit)

'data.frame':	4 obs. of  4 variables:
 $ 번호  : int  1 2 3 4
 $ 상품명: Factor w/ 4 levels "Apple","Banana",..: 1 2 4 3
 $ 가격  : num  500 400 300 200
 $ 수량  : num  5 2 5 4

In [9]:
# fruit 에서 상품명과 재고량만 보기

fruit[c(2,4)]

  상품명 수량
1 Apple  5
2 Banana 2
3 Peach  5
4 Berry  4

In [10]:
# fruit 에서 번호를 제외한 모든 내용 보기
fruit[(c(-1))]
fruit[,-1]

  상품명 가격 수량
1 Apple  500  5
2 Banana 400  2
3 Peach  300  5
4 Berry  200  4

  상품명 가격 수량
1 Apple  500  5
2 Banana 400  2
3 Peach  300  5
4 Berry  200  4

In [12]:
# fruit 에서 2,4 번 행을 제외한 상품명, 금액, 재고량만 출력
    fruit[-c(2,4),-1]

  상품명 가격 수량 재고금액 원산지
1 Apple  500  5    2500     한국
3 Peach  300  5    1500     한국

In [11]:

fruit$재고금액 <- fruit$가격*fruit$수량
fruit$원산지 <- c("한국","태국","한국","중국")
fruit

  번호 상품명 가격 수량 재고금액 원산지
1 1    Apple  500  5    2500     한국
2 2    Banana 400  2     800     태국
3 3    Peach  300  5    1500     한국
4 4    Berry  200  4     800     중국

In [14]:
str(fruit)

'data.frame':	4 obs. of  6 variables:
 $ 번호    : int  1 2 3 4
 $ 상품명  : Factor w/ 4 levels "Apple","Banana",..: 1 2 4 3
 $ 가격    : num  500 400 300 200
 $ 수량    : num  5 2 5 4
 $ 재고금액: num  2500 800 1500 800
 $ 원산지  : chr  "한국" "태국" "한국" "중국"

# 외부 File 불러오기

In [13]:
# .txt 파일 불러오기
     txtEmp <-  read.table("./Data/emp.txt", header = T, sep="", stringsAsFactors = F, fileEncoding = "utf-8")
     txtEmp

  사번 이름 급여
1 101  hong 150
2 201  lee  250
3 301  kim  300

In [22]:
   csvEmp   <-   read.csv("./Data/emp2.csv",
         header=F, stringsAsFactors = F)

csvEmp
# 컬럼명을 사번, 이름, 급여로 변경하기
                colnames(csvEmp) <- c("사번","이름","급여") 
csvEmp

  V1  V2     V3
1 101 홍길동 150
2 102 이순신 450
3 103 강감찬 500
4 104 유관순 350
5 105 김유신 400

  사번 이름   급여
1 101  홍길동 150
2 102  이순신 450
3 103  강감찬 500
4 104  유관순 350
5 105  김유신 400

In [25]:
# 컬럼이 몇개?
ncol(csvEmp)
#row가 몇개?
nrow(csvEmp)

[1] 3

[1] 5

In [56]:
df <- data.frame(x = 1:5,y = seq(2,10,2),
                 z = c('a','b','c','d','e'))
df
as.numeric(df$x)

  x y  z
1 1  2 a
2 2  4 b
3 3  6 c
4 4  8 d
5 5 10 e

[1] 1 2 3 4 5

In [29]:
str(df)

'data.frame':	5 obs. of  3 variables:
 $ x: int  1 2 3 4 5
 $ y: num  2 4 6 8 10
 $ z: Factor w/ 5 levels "a","b","c","d",..: 1 2 3 4 5

In [57]:
# x, y 컬럼의 합계 구하기
sum(df$x,df$y)

[1] 45

### 함수를 부르는 함수

In [58]:
# 열방향
apply(df[,1:2], 2, sum)
apply(df[,1:2], 2, mean)
apply(df[,1:2], 2, sd)

 x  y
15 30

x y
3 6

       x        y
1.581139 3.162278

In [59]:
# 행방향
apply(df[,1:2],1, sum)

[1]  3  6  9 12 15

In [60]:

df$Hap <- apply(df[,1:2],1,sum)
df

  x y  z Hap
1 1  2 a  3
2 2  4 b  6
3 3  6 c  9
4 4  8 d 12
5 5 10 e 15

In [40]:
# 부분집합
subset(df, x >= 3 & y >=8)
nrow(subset(df, x >= 3 & y >=8))

  x y  z Hap
4 4  8 d 12
5 5 10 e 15

[1] 2

In [49]:
# x 가 3이상 이고 y 가 8이상인 데이터중 x와y의 합계
re  <- subset(df, x >= 3 & y >=8)
apply(re[,1:2],2,sum)

 x  y
 9 18

# 두개 이상의 데이터프레임 병합

In [69]:
# case 1: Key 값이 되는 컬럼이 동일하고 data의 갯수도 동일한 경우
height <- data.frame(id = 1:3,
height = c(160,170,180))
height

  id height
1 1  160
2 2  170
3 3  180

In [70]:
weight <- data.frame(id = c(1,2,3),
            weight = c(70, 60, 80))
weight

  id weight
1 1  70
2 2  60
3 3  80

In [71]:
merge(height,weight)

  id height weight
1 1  160    70
2 2  170    60
3 3  180    80

In [72]:
height <- data.frame(id = 1:3,
height = c(160,170,180))
height   
weight <- data.frame(id = c(1,2,3),
            weight = c(70, 60, 80))
weight    
merge(height, weight)   \
# Key 를 정의하기 : data 가 적은쪽의 기준으로 merge한다
merge(x = height, y = weight, by.x = "id", by.y = "id")
weight

ERROR: Error in parse(text = x, srcfile = src): <text>:7:25: 예상하지 못한 입력입니다.
6: weight
7: merge(height, weight)   \
                           ^

In [73]:
merge(x =height, y = weight, by.x = "id",)

  id height weight
1 1  160    70
2 2  170    60
3 3  180    80

### 행렬 함수로 행렬(matrix) 만들기

In [64]:
matrix(1:10)
matrix(1:10, nrow = 2)
t(matrix(1:9, nrow = 3, ncol=3))

      [,1]
 [1,]  1
 [2,]  2
 [3,]  3
 [4,]  4
 [5,]  5
 [6,]  6
 [7,]  7
 [8,]  8
 [9,]  9
[10,] 10

     [,1] [,2] [,3] [,4] [,5]
[1,] 1    3    5    7     9
[2,] 2    4    6    8    10

     [,1] [,2] [,3]
[1,] 1    2    3
[2,] 4    5    6
[3,] 7    8    9

## List 
- 성격이 다른 자료구조로 생성이 가능하다.
- Key 와 value 값으로

In [71]:
# dataframe 한 줄
member <- list(name="홍길동", address="서울", tel="010-1111-1111", pay=300)
member

$name
[1] "홍길동"

$address
[1] "서울"

$tel
[1] "010-1111-1111"

$pay
[1] 300

In [72]:
member$name

[1] "홍길동"

In [74]:
member$birth <- 2000-11-05
member

$name
[1] "홍길동"

$address
[1] "서울"

$tel
[1] "010-1111-1111"

$pay
[1] 300

$birth
[1] 1984

# 문자열 처리
수집한 데이터의 필요한 문자열을 자르고, 교체하고, 추출하는 작업

## stringr package사용
-str_length() : 문자열 길이   
-str_c() : 문자열 연결   
-str_sub() : 범위에 해당하는 문자열 생성   
-str_split() : 구분자를 기준으로 문자열을 분리하여 부분 생성   
-str_replace() : 기존 문자열을 특정 문자열로 변환    
-str_extract() : 문자열에서 특정 문자열 패턴의 첫번째 문자열 추출   
-str_extract_all() :    다추출    
-str_locate() : 문자열에서 특정 문자열 패턴의 첫번째 위치 추출   
-str_locate_all() :    다 가져오기

In [2]:
# 패키지 불러오기
# library 는 노트당 한번만 하면된다
library(stringr)

In [3]:
string <- "hongkildong105youbee1002kwanwoo25장비2005"

In [4]:
# a ~ z 까지의 영문자가 연속으로 3개 발견된문자열을 추출
str_extract_all(string, "[a-z]{3}")

[[1]]
[1] "hon" "gki" "ldo" "you" "bee" "kwa" "nwo"

In [5]:
# a ~ z 까지의 영문자가 연속으로 3개 ~ 5개 발견된 문자열 추출
str_extract_all(string, "[a-z]{3,5}")

[[1]]
[1] "hongk" "ildon" "yoube" "kwanw"

In [8]:
# 영문만 추출하기
aaa <- str_extract_all(string, "[a-z]{1,}")
aaa
unlist(aaa)[1]

[[1]]
[1] "hongkildong" "youbee"      "kwanwoo"

[1] "hongkildong"

In [7]:
#숫자만 추출
ddd <- str_extract_all(string, "[0-9]{1,}")
ddd

as.numeric(unlist(ddd))

[[1]]
[1] "105"  "1002" "25"   "2005"

[1]  105 1002   25 2005

In [6]:
# 한글만 추출
ccc <- str_extract(string, "[가-힣]{1,}")
ccc 
unlist(ccc)
class(unlist(ccc))

[1] "장비"

[1] "장비"

[1] "character"

In [9]:
# 영문자를 제외한 문자 출력하기
str_extract_all(string, "[^a-z]{1,}")

[[1]]
[1] "105"        "1002"       "25장비2005"

In [11]:
# 문자열 길이구하기
str_length(string)

[1] 39

In [12]:
#문자열 위치 구하기
str_locate(string, "장비")

     start end
[1,] 34    35

In [16]:
# 부분 문자열 추출
#  1번째부터 33까지
str_sub(string, 1, 33)
# 특정 부분 앞부분만 보고싶다
str_sub(string, 1, str_locate(string,"장비")[1]-1)

[1] "hongkildong105youbee1002kwanwoo25"

[1] "hongkildong105youbee1002kwanwoo25"

In [17]:
# 대문자 바꾸기
str_to_upper(string)

[1] "HONGKILDONG105YOUBEE1002KWANWOO25장비2005"

In [18]:
# 문자열 교체하기
string <- str_replace(string, "hongkildong105", "홍길동35,")
string <- str_replace(string, "youbee1002","유비45,")
string <- str_replace(string, "kwanwoo25","관우25,")
string <- str_replace(string, "2005", "20")
string

[1] "홍길동35,유비45,관우25,장비20"

In [76]:
# 문자열 분리하기
unlist(str_split(string,","))

[1] "홍길동35,유비45,관우25,장비20"

[1] "홍길동35" "유비45"   "관우25"   "장비20"

In [32]:
# 천단위 쉼표가 들어간 문자열을 숫자로 변경하기
price <- "123,456,789"
as.numeric()

as.numeric(unlist(str_replace_all(price, ",","")))
as.numeric(unlist(str_remove_all(price, ",")))

numeric(0)

[1] 123456789

[1] 123456789

In [44]:
# Na 를 변경하기
temp <- c(1,2,NA, 4)
temp
str_replace_na(temp)
str_replace_all(str_replace_na(temp), 'NA', '3')
class(str_replace_na(temp))

[1]  1  2 NA  4

[1] "1"  "2"  "NA" "4"

[1] "1" "2" "3" "4"

[1] "character"

In [48]:
#NA를 제거하기
temp <- c(1,2,NA, 4)
temp
na.omit(temp)

[1]  1  2 NA  4

[1] 1 2 4
attr(,"na.action")
[1] 3
attr(,"class")
[1] "omit"