In [1]:
options(warn = -1)
options(repr.plot.width=15, repr.plot.height=9) 
Sys.setlocale(category = "LC_ALL", locale = "ko_KR.UTF-8")

[1] "ko_KR.UTF-8/ko_KR.UTF-8/ko_KR.UTF-8/C/ko_KR.UTF-8/C"

## model,price_in_euro,transmission_type,fuel_type,mileage_in_km

In [2]:
library(dplyr)
library(stringr)
library(caret)

다음의 패키지를 부착합니다: ‘dplyr’


The following objects are masked from ‘package:stats’:

    filter, lag


The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union


필요한 패키지를 로딩중입니다: ggplot2

필요한 패키지를 로딩중입니다: lattice

In [3]:
resaleCar <- read.csv("./Data//data.csv")

In [4]:
head(resaleCar)

  X brand      model             color registration_date year price_in_euro
1 0 alfa-romeo Alfa Romeo GTV    red   10/1995           1995 1300
2 1 alfa-romeo Alfa Romeo 164    black 02/1995           1995 24900
3 2 alfa-romeo Alfa Romeo Spider black 02/1995           1995 5900
4 3 alfa-romeo Alfa Romeo Spider black 07/1995           1995 4900
5 4 alfa-romeo Alfa Romeo 164    red   11/1996           1996 17950
6 5 alfa-romeo Alfa Romeo Spider red   04/1996           1996 7900
  power_kw power_ps transmission_type fuel_type fuel_consumption_l_100km
1 148      201      Manual            Petrol    10,9 l/100 km
2 191      260      Manual            Petrol
3 110      150      Unknown           Petrol
4 110      150      Manual            Petrol    9,5 l/100 km
5 132      179      Manual            Petrol    7,2 l/100 km
6 110      150      Manual            Petrol    9,5 l/100 km
  fuel_consumption_g_km mileage_in_km offer_description
1 260 g/km              160500        2.0 V6 TB
2 - (g/km)              190000        Q4 Allrad, 3.2L GTA
3 - (g/km)              129000        ALFA ROME 916
4 225 g/km              189500        2.0 16V Twin Spark L
5 - (g/km)               96127        3.0i Super V6, absoluter Topzustand !
6 225 g/km               47307        2.0 16V Twin Spark

In [5]:
table(resaleCar$brand)

   alfa-romeo  aston-martin          audi       bentley           bmw
         1437           277         21161           541         19810
     cadillac     chevrolet      chrysler       citroen         dacia
          157           191            32          4083          3367
       daewoo      daihatsu         dodge       ferrari          fiat
           61           204           669           590          5039
         ford         honda       hyundai      infiniti         isuzu
        18790           785          6989           112           206
       jaguar          jeep           kia          lada   lamborghini
         1398          1749          5734           191           361
       lancia    land-rover      maserati         mazda mercedes-benz
          105          3073           698          4211         27226
         mini    mitsubishi        nissan          opel       peugeot
         4295           934          3784         20388          5848
      porsche        proton       renault         rover          saab
         3958             1          8694            51           233
         seat         skoda         smart     ssangyong        toyota
        11949         14039          1643           342          8228
   volkswagen         volvo
        33281          4164

In [6]:
 foToData <- subset(resaleCar, brand == 'ford' | brand == 'toyota')

In [7]:
head(foToData)

foToData <- foToData[,-c(1,4,5,8,9,12,13,15)]

      X     brand model         color registration_date year price_in_euro
57620 57619 ford  Ford Probe    blue  03/1995           1995 1800
57621 57620 ford  Ford Escort   blue  07/1995           1995 999
57622 57621 ford  Ford Mustang  blue  07/1997           1997 9250
57623 57622 ford  Ford Windstar blue  06/1997           1997 2450
57624 57623 ford  Ford Escort   blue  06/1997           1997 2500
57625 57624 ford  Ford Escort   blue  05/1997           1997 1200
      power_kw power_ps transmission_type fuel_type fuel_consumption_l_100km
57620 85       116      Manual            Petrol    8,3 l/100 km
57621 77       105      Manual            Petrol
57622 185      252      Automatic         Petrol
57623 109      148      Automatic         Petrol
57624 66       90       Automatic         Petrol    8,2 l/100 km
57625 66       90       Manual            Petrol    8 l/100 km
      fuel_consumption_g_km mileage_in_km offer_description
57620 - (g/km)              178000        16V
57621 - (g/km)              159436        16V XR3i
57622 - (g/km)              112057        / 112 Tkm/3,8l/Autom/
57623 - (g/km)               98705        V6 1.Hand nur 98Tkm Leichenwagen
57624 193 g/km               69770        Turnier 16V chia
57625 - (g/km)              101500        1.6 16V

In [8]:
head(foToData)

      brand model         year price_in_euro transmission_type fuel_type
57620 ford  Ford Probe    1995 1800          Manual            Petrol
57621 ford  Ford Escort   1995 999           Manual            Petrol
57622 ford  Ford Mustang  1997 9250          Automatic         Petrol
57623 ford  Ford Windstar 1997 2450          Automatic         Petrol
57624 ford  Ford Escort   1997 2500          Automatic         Petrol
57625 ford  Ford Escort   1997 1200          Manual            Petrol
      mileage_in_km
57620 178000
57621 159436
57622 112057
57623  98705
57624  69770
57625 101500

In [9]:
#foToData$year	<- as.integer(foToData$year)
#foToData$year <- 2024 - foToData$year
#foToData
foToData_no_na <- foToData[complete.cases(foToData), ]

In [10]:
table(is.na(foToData_no_na))

 FALSE
189014

In [19]:
foToData <- foToData_no_na

In [12]:
foToData$year <- 2024 - foToData$year

ERROR: Error in 2024 - foToData$year: 이항연산자에 수치가 아닌 인수입니다

In [ ]:
foToData <- foToData[foToData$fuel_type != 'Diesel Hybrid', ]
table(foToData$fuel_type)

In [ ]:
foToData <- foToData[foToData$transmission_type != 'Semi-automatic', ]
table(foToData$transmission_type)

In [20]:
head(foToData)

fordData <- subset(foToData,brand =='ford' )
toyoData <- subset(foToData,brand =='toyota' )

table(is.na(fordData))
table(is.na(toyoData))

      brand model         year price_in_euro transmission_type fuel_type
57620 ford  Ford Probe    1995 1800          Manual            Petrol
57621 ford  Ford Escort   1995 999           Manual            Petrol
57622 ford  Ford Mustang  1997 9250          Automatic         Petrol
57623 ford  Ford Windstar 1997 2450          Automatic         Petrol
57624 ford  Ford Escort   1997 2500          Automatic         Petrol
57625 ford  Ford Escort   1997 1200          Manual            Petrol
      mileage_in_km
57620 178000
57621 159436
57622 112057
57623  98705
57624  69770
57625 101500

 FALSE
131467

FALSE
57547

In [ ]:
table(foToData$model)

In [21]:

sortedford <- sort(table(fordData$model), decreasing = TRUE)

head(sortedford)

   Ford Focus   Ford Fiesta     Ford Kuga   Ford Mondeo Ford EcoSport
         3873          2785          2268          1112           863
   Ford S-Max
          851

In [22]:
#toyoData

sortedtoyo <- sort(table(toyoData$model), decreasing = TRUE)

head(sortedtoyo)

  Toyota Yaris    Toyota C-HR Toyota Corolla   Toyota RAV 4    Toyota Aygo
          1913           1259           1100            663            527
  Toyota Auris
           392

In [23]:
Ford_Focus <- subset(fordData,model == 'Ford Focus')
Ford_Fiesta <- subset(fordData,model == 'Ford Fiesta')
Ford_Kuga <- subset(fordData,model == 'Ford Kuga')
Ford_Mondeo <- subset(fordData,model == 'Ford Mondeo')
Ford_EcoSport <- subset(fordData,model == 'Ford EcoSport')


Toyo_Yaris <- subset(toyoData,model == 'Toyota Yaris')
Toyo_Aygo <- subset(toyoData,model == 'Toyota Aygo')
Toyo_Proace <- subset(toyoData,model == 'Toyota Proace')
Toyo_Auris<- subset(toyoData,model == 'Toyota Auris')
Toyo_Avensis <- subset(toyoData,model == 'Toyota Avensis')

In [ ]:
write.csv(Toyo_Avensis, file = "./teamSave/Toyo_Avensis.csv", row.names = FALSE)
write.csv(Toyo_Auris, file = "./teamSave/Toyo_Auris.csv", row.names = FALSE)
write.csv(Toyo_Proace, file = "./teamSave/Toyo_Proace.csv", row.names = FALSE)
write.csv(Toyo_Aygo, file = "./teamSave/Toyo_Aygo.csv", row.names = FALSE)
write.csv(Toyo_Yaris, file = "./teamSave/Toyo_Yaris.csv", row.names = FALSE)

write.csv(Ford_EcoSport, file = "./teamSave/Ford_EcoSport.csv", row.names = FALSE)
write.csv(Ford_Mondeo, file = "./teamSave/Ford_Mondeo.csv", row.names = FALSE)
write.csv(Ford_Kuga, file = "./teamSave/Ford_Kuga.csv", row.names = FALSE)
write.csv(Ford_Fiesta, file = "./teamSave/Ford_Fiesta.csv", row.names = FALSE)
write.csv(Ford_Focus, file = "./teamSave/Ford_Focus.csv", row.names = FALSE)

In [ ]:
sortedford <- sort(fordData$model, decreasing = TRUE)

head(sortedford)

In [ ]:
head(Ford_Focus)

In [ ]:
head(fordData)

In [ ]:
head(Ford_Focus)

In [ ]:
Ford_FocusV2 <- Ford_Focus[,-c(1,2)]

In [ ]:
Ford_FocusV2$transmission_type <- ifelse(Ford_FocusV2$transmission_type =='Manual','1','2')
Ford_FocusV2$fuel_type <- ifelse(Ford_FocusV2$fuel_type =='Petrol','3','4')

In [ ]:
Ford_FocusV2$transmission_type <- as.integer(Ford_FocusV2$transmission_type)
Ford_FocusV2$fuel_type <- as.integer(Ford_FocusV2$fuel_type)
head(Ford_FocusV2)
table(Ford_FocusV2$fuel_type)
table(Ford_FocusV2$transmission_type)

In [ ]:
table(Ford_Focus$price_in_euro)

In [ ]:
Ford_FocusV2$transmission_type <- as.factor(Ford_FocusV2$transmission_type)
Ford_FocusV2$fuel_type <- as.factor(Ford_FocusV2$fuel_type)

# 원-핫 인코딩 수행
encoded <- model.matrix(~ transmission_type + fuel_type - 1, data = Ford_FocusV2)

In [ ]:
#encoded <- model.matrix(~ transmission_type + fuel_type -1, data = Ford_FocusV2)

In [ ]:
checkdata <- Ford_Focus[,-c(1,2,5,6)]

In [ ]:
 checkdata$price_in_euro <- as.factor(checkdata$price_in_euro)

In [ ]:
Ford_Focus$  <- as.integer(Ford_Focus$price_in_euro)

In [ ]:
# 년도와 가격
cor(Ford_Focus$price_in_euro , Ford_Focus$year)
# 주행거리와 가격
cor(Ford_Focus$price_in_euro , Ford_Focus$mileage_in_km)
# 
cor(Ford_FocusV2$price_in_euro , Ford_FocusV2$transmission_type)

cor(Ford_FocusV2$price_in_euro , Ford_FocusV2$fuel_type)

In [24]:
nrow(Ford_Focus)

[1] 3873

In [ ]:
head(checkdata)

In [ ]:
data3 <- Ford_Focus

In [ ]:
summary(data3$mileage_in_km)

In [ ]:
data3$mileage_in_km[,length(data3$mileage_in_km) - 2]

In [25]:
data2 <- Ford_Focus[,-c(1,2,5,6)]

In [28]:
mydata <- Ford_Focus[,-c(1,2,5,6)]

 mydata$price_in_euro <- as.factor(mydata$price_in_euro)

In [ ]:
head(mydata)
mydata$mileage_in_km

In [26]:
# 객관식 함수 모음
myTest <- function(A, dataName, ntreecount, per) {
cat("------------------------------------\n")
cat("예측율\n")
# 라이브러리 받기
library(caret)
library(e1071)
library(nnet)
library(randomForest)
for(i in 1:A) {
sampA <- createDataPartition(dataName$price_in_euro, p = per, list = F)
# 학습용    
data.trA <- dataName[sampA,]
# 검증용
data.testA <- dataName[-sampA,]
# 문제
xA <- subset(data.testA, select = -price_in_euro)
# 답
yA <- data.testA$price_in_euro
# 문제풀기  ( 랜덤 포레스트)
rfA <- randomForest(price_in_euro ~ ., data=data.trA, ntree = ntreecount )
# ( SVM )
model <- svm(price_in_euro ~ ., data=data.trA)

# 예측
# 랜덤 포레스트
predA <- predict(rfA, xA)

# SVM
pred2A <- predict(model,xA)

# 랜덤 포레스트
cat("\nRandomForest 예측율 ", mean(predA == yA),"\t")
cat("\n SVM 예측율 ", mean(yA == pred2A),"\t")

}
# SVM



cat("\n------------------------------------\n")
cat("\nRandom Forest의 평균 예측율 :", mean(mean(predA == yA)),"\n")
cat("------------------------------------\n")
cat("\nSVM의 평균 예측율 :", mean(mean(pred2A == yA)),"\n")
cat("------------------------------------\n")

}

In [30]:
myTest(A = 10, dataName = mydata, ntreecount = 100,per = 0.7)

------------------------------------
예측율

ERROR: Error: 벡터 메모리가 모두 사용되었습니다 (한계에 도달했나요?)

In [32]:
write.csv(Ford_EcoSport, file = "./teamSave/mydata.csv", row.names = FALSE)